/* 
    Author: Vijay Thapa;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }



.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 45px;
    margin-left: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #00e047;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-secondary1{
    background-color: #00e047;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-secondary2{
    background-color: #00e047;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-secondary:hover{
    background-color: #0b9143;
}

.btn-danger{
    background-color: #fa3731;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 45px;
    margin-left: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-danger1{
    background-color: #fa3731;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}
.btn-danger:hover{
    background-color: #da2d21;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/* CSS for Menu */
.menu{  
    position: fixed;
    width: 100%;
    background-color: #ff4757;
    z-index: 1;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.menu ul li a:hover{
    color: #e6220e;
}

/* CSS for main-content */
.main-content{
    background-color: #ffff;
    padding: 3% 0;

}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.footer{
    background-color: #ff4757;
    color: white;
}

/* CSS for Login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}
.status-ordered{
    background-color:#1076b9;
    border-radius: 10px;
    font-size: 13px;
    padding: 8px;
    color: white;
}
.status-ondelivery{

    background-color:#0eb352;
    border-radius: 10px;
    padding-top: 8px;
    font-size: 13px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 8px;
    color: white;
}
.status-delivery{

    background-color:#ff8c09;
    border-radius: 10px;
    font-size: 13px;
    padding: 8px;
    color: white;
}
.status-cancel{
    font-size: 13px;
    background-color:#ff0909;
    border-radius: 10px;
    padding: 8px;
    color: white;
}